extends navbar

block content
  body  
    .container-fluid
      h1.mb-4 Asset Management Dashboard
      .dashboard-horizontal
        .card
          .card-icon
            i.fa.fa-users.fa-2x
          .card-content
            h3 Total Employees
            .number #{employeeCount || 0}
            .description Registered employees
        .card
          .card-icon
            i.fa.fa-cubes.fa-2x
          .card-content
            h3 Total Assets
            .number #{assetCount || 0}
            .description Active assets in system
        .card
          .card-icon
            i.fa.fa-user.fa-2x
          .card-content
            h3 Assigned Assets
            .number #{assignedCount || 0}
            .description Currently assigned
        .card
          .card-icon
            i.fa.fa-check-circle.fa-2x
          .card-content
            h3 Available Assets
            .number #{availableCount || 0}
            .description Available for assignment
